@import "@/assets/scss/index.scss";

//Past Season_sub
.contentSize {
    font-size: 1.5vw;
}
.titleSize {
    font-size: 3vw;
    font-weight: bold;
}

//Past Season_home
.inside {
    background-color: #a3a3a3;
    width: 100%;    
}

//outreach
.contentBackground{
    background-color: #a3a3a3;
    width: 100%;  
}

.test {
    color: black;
}