@import "@/assets/scss/index.scss";

//2019
.contentSize {
    font-size: 4vmin;
}
.titleSize {
    font-size: 8vmin;
    font-weight: bold;
}

//Past Season
.inside {
    background-color: #a3a3a3;
    width: 100%;    
}