@import "@/assets/scss/index.scss";


#frclogo {
    margin: auto;
    text-align: center;
    img {
        height: 15vh;
    }
}

#footerMenu {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;

    .title {
        font-weight: bold;
        color: #000000;
    }

    hr {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 1vw;
        width: 145px;
    }

    .no-underline {
        text-decoration: none;
    }
}

.contact {
    text-align: center;
    margin: auto;
    
    p {
        font-weight: bold;
        margin-bottom: 0px;
    }
}

.button {
    color: #000000 !important;
    margin: 1%;
}

#footerSponsor {
    height: auto;
    width: 100%;
    background-color: $main-color;
    margin-bottom: 0;
}


.sponsorsLogo {
    height: 5vh; 
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
}