@import "@/assets/scss/index.scss";

#header {
    background-color: white;
    position: sticky;
    z-index: 10;
    height: auto;
    width: 100vw;
    top: 0;
}



#header-logo {
    width: auto;
    float: left;
    height: 100%;
    text-align: center;
    margin-bottom: 0px !important;
}

.header-button { 
    width: auto;
    float: right;
    margin-right: 15vw;
    color: black;
    
}


.menu {
    background-color: white !important;
}



