@import "@/assets/scss/index.scss";

#header {
    background-color: white;
    position: sticky;
    z-index: 10;
    height: 36px;
    width: 100vw;
    top: 0;
}



#header-logo {
    width: auto;
    float: left;
    height: 100%;
    text-align: center;
    margin-bottom: 0px !important;
}

.header-button { 
    width: auto;
    float: right;
    margin-right: 5vw;
    color: black; 
    line-height: 36px;
}


.menu {
    background-color: white !important;
}

.btn-text{
    font-size: 5%;
    line-height: 36px;
}

