@import "@/assets/scss/index.scss";

#header {
    background-color: $main-color;
    text-align: center;
}

#bar {
    background-color: $main-color;
}

#donatebtn {
    background-color: white;
    font-weight: bold;
    text-align: center;
    color: $main-color;
    height: 100%;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    border-radius: 5%;
}