@import "@/assets/scss/index.scss";

.contentSize {
    color: black;
    font-size: 4vmin;
}
.titleSize {
    color: black;
    font-size: 8vmin;
    font-weight: bold;
}

.blockColor1{
    background-color: #1179d9
}

.blockColor2{
    background-color: #132473
}
