$main-color: #002a5c;
$text-color: white;

.fontImg {
    color: white;
    font-size: 8vmin;
    font-weight: bold;
    text-align: center;
}

.box {
    background-color: white;
    padding: 6.5vw;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: black ;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: $main-color;
    background-color: transparent;
    text-decoration: none;
}